<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Forgot Password</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- MATERIAL DESIGN ICONIC FONT -->
		<link rel="stylesheet" href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
		
		<!-- STYLE CSS -->
		<link rel="stylesheet" href="/stylesheet/login.css">
	</head>
	<body>

		<div class="wrapper" style="background-image: url('/image/bg-registration-form-2.jpg');">
			<div class="inner" style="height: auto;">
				<form action="/user/forgotPassword" method="post">
					<h1>Reset Password</h1>
					
					<div class="form-wrapper">
						<label for="">Email</label>
						<input name="email" id="email" type="text" class="form-control" placeholder="Enter your Email">
					</div>					
					<div class="form-wrapper">
						<label for="">New Password</label>
						<input type="password" name="password" id="newpassword" class="form-control" placeholder="Enter your new Password">
					</div>
					<div class="form-wrapper">
						<label for="">Confirm Password</label>
						<input type="password" name="cpassword" id="newpassword" class="form-control" placeholder="Enter your new Password">
					</div>
					
					
					<button type="submit" class="login-btn">Update</button>

					<div class="col text-center align-items-center">
						<a href="/user/login" class="btn btn-link">Cancel</a>
					</div>
				
				</form>
			</div>
		</div>
		
	</body>
</html>
