<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheet/paymentFailed.css">
</head>
<body>
  

</html>
<div class="container">
    <div class="ui middle aligned center aligned grid">
      <div class="ui eight wide column">
     
        <form class="ui large form">
                  
            <div class="ui icon negative message">
              <i class="warning icon"></i>
              <div class="content">
                <div class="header">
                  Oops! Something went wrong.
                </div>
                <p>While trying to reserve money from your account</p>
              </div>
              
           </div>
        
            <span class="ui large teal submit fluid button">Try again</span>
        
        </form>
      </div>
    </div>
  </div>
</body>