<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shoppycart</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/stylesheet/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheet/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheet/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/stylesheet/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/stylesheet/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/stylesheet/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheet/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheet/style.css" type="text/css">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"> <!-- For Bootstrap 4 -->




  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5
<link rel="stylesheet" href="assets/css/profile.css" />
</head>
